@import url(w3.css);
@import url(fontawesome/css/all.css);

.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.Top-heading {
  display:grid;
}

#logo {
  margin-left: auto;
    margin-right: auto;
    display: block;
}

h1,h2,h3,h4 {
  text-align: center;
}

ul {
  text-align: center;
}