@import url(w3.css);

.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.Top-heading {
  display:grid;
}

#logo {
  margin-left: auto;
    margin-right: auto;
    display: block;
}